<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">

    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-6"><h1>Edit Your Post</h1></div>
          <div class="col-xs-3" id="post-btn"><%= link_to 'Delete', content_path, id: 'new-post-btn', method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></div>
          <div class="col-xs-3" id="post-btn"><%= link_to 'All Post', contents_url, id: 'new-post-btn', class: 'btn btn-primary' %></div>
        </div>
      </div>
    </div>

    <%= render 'form', content: @content, value: 'Edit Post' %>
  </div>
</div>
