<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-9">
            <h1><%= t('content.new') %></h1>
          </div>
          <div class="col-xs-3" id="post-btn">
            <%= link_to t('button.index'), contents_url, id: 'new-post-btn', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'form', content: @content, value: t('content.new_button') %>
  </div>
</div>
